---
import Layout from '../layouts/Layout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
import { getCollection } from 'astro:content';

const journalPublications = (await getCollection('journal_publications')).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const conferencePublications = (await getCollection('conference_publications')).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---
<Layout sideBarActiveItemID="publications">
	<section aria-label="Publications">
        <div class="pb-12 mt-5">
            <div class="text-3xl font-bold pb-5">Publications</div>
            <div class="text-2xl font-bold pb-3">Journal Publications</div>
            {journalPublications.map((publication) => (
                <HorizontalCard
                    title={publication.data.title}
                    img={publication.data.teaser_url}
                    desc={`${publication.data.journal} ${publication.data.date.getFullYear()}. Authors: ${publication.data.authors.join('; ')}`}
                    url={publication.data.paper_url}
                />
            ))}
            <div class="text-2xl font-bold pt-8 pb-3">Conference Publications</div>
            {conferencePublications.map((publication) => (
                <HorizontalCard
                    title={publication.data.title}
                    img={publication.data.teaser_url}
                    desc={`${publication.data.conference} ${publication.data.date.getFullYear()}. Authors: ${publication.data.authors.join('; ')}`}
                    url={publication.data.paper_url}
                />
            ))}
        </div>
